<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
<ul>
  <li>
    <h2 class="listHeader">Big Items</h2>
  </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput" name=""/>
        <label for= "checkboxInput"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext" >
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput2" name=""/>
        <label for= "checkboxInput2"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput3" name=""/>
        <label for= "checkboxInput3"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput4" name=""/>
        <label for= "checkboxInput4"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
  <li>
    <h2 class="listHeader">Medium Items</h2>
  </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput5" name=""/>
        <label for= "checkboxInput5"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput6" name=""/>
        <label for= "checkboxInput6"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput7" name=""/>
        <label for= "checkboxInput7"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput8" name=""/>
        <label for= "checkboxInput8"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput9" name=""/>
        <label for= "checkboxInput9"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>

  <li>
    <h2 class="listHeader">Small Items</h2>
  </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput10" name=""/>
        <label for= "checkboxInput10"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput11" name=""/>
        <label for= "checkboxInput11"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>

    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput12" name=""/>
        <label for= "checkboxInput12"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput13" name=""/>
        <label for= "checkboxInput13"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput14" name=""/>
        <label for= "checkboxInput14"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput15" name=""/>
        <label for= "checkboxInput15"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>
    <li class="listitem">
      <div class="checkbox">
        <input type="checkbox" value="1" id="checkboxInput16" name=""/>
        <label for= "checkboxInput16"> </label>
      </div>
      <input type="text" name="" value="" class="listitemtext">
    </li>


  <h2 class="listHeader">Other Items</h2>

  </ul>
  </div>
</body>
</html>
