<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="titlediv">
      <input type="text" value="Name your list" class="listnametext">
    </div>
  </div>
  <div class="container">
    <ul>
      <div id='bigitems'>
        <li>
          <h2 class="listHeader">Big Items</h2>
            <div class="bigappendbuttondiv">
              <button id="bigappendbutton">Append text</button>
              <label for="bigappendbutton" class="appendbutton"><p class="plus">+</p></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput"   class="checked"/>
            <label for= "checkboxInput"> </label>
          </div>
          <span class="inputspan"><input type="text" value="" class="listitemtext" ></span>
        </li>
      </ul>
    </div>
  </div>


  <div class="container">
    <ul>
      <div id='mediumitems'>
        <li>
          <h2 class="listHeader">Medium Items</h2>
            <div class="mediumappendbuttondiv">
              <button id="mediumappendbutton">Append text</button>
              <label for="mediumappendbutton" class="appendbutton"><p class="plus">+</p></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput7"  class="checked"/>
            <label for= "checkboxInput7"> </label>
          </div>
          <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput8"  class="checked"/>
            <label for= "checkboxInput8"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput9"  class="checked"/>
            <label for= "checkboxInput9"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
    </div>
  </ul>
</div>


  <div class="container">
    <ul>
      <div id="smallitems">
        <li>
          <h2 class="listHeader">Small Items</h2>
            <div class="smallappendbuttondiv">
              <button id="smallappendbutton">Append text</button>
              <label for="smallappendbutton" class="appendbutton"><p class="plus">+</p></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput12" class="checked"/>
            <label for= "checkboxInput12"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput13" class="checked"/>
            <label for= "checkboxInput13"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput14" class="checked"/>
            <label for= "checkboxInput14"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput15" class="checked"/>
            <label for= "checkboxInput15"> </label>
          </div>
        <span class="inputspan"><input type="text" value="" class="listitemtext"> </span>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" id="checkboxInput16" class="checked"/>
            <label for= "checkboxInput16"> </label>
          </div>
        <input type="text" "" class="listitemtext">
        </li>
      </div>
    </ul>
    <hr class="divider">
    <footer>
      <span class="nav"><a href="https://twitter.com/RailsDevLevi">Twitter</a> / <a href="https://github.com/LeviCharlesSmith/ListSite">Github</a> / <a href="linkedin.com/in/devlevi">Linkedin</a> / <a href="contact">Contact</a> / <a href="https://stackoverflow.com/users/5966309/firewire167">Stack Overflow</a></span>
    </footer>
  </div>




</body>
</html>

<script>
var bigCount=1000;

//function for appending items to the "big items" section
$(document).ready(function(){
    $("#bigappendbutton").click(function(){
        $("#bigitems").append(function(){
            return "<li class=\"listitem\"> \
              <div class=\"checkbox\"> \
                <input type=\"checkbox\" id=\"checkboxInput"+bigCount+"\"   class=\"checked\"/> \
                <label for= \"checkboxInput"+bigCount+"\"> </label> \
              </div> \
            <span class=\"inputspan\"><input type=\"text\" \"\" class=\"listitemtext\" ></span> \
          </li>"


        });
        bigCount++;
    });
});

//function for appending items to the "medium items" section

var mediumCount = 2000

$(document).ready(function(){
    $("#mediumappendbutton").click(function(){
        $("#mediumitems").append(function(){
          return "<li class=\"listitem\"> \
            <div class=\"checkbox\"> \
              <input type=\"checkbox\" id=\"checkboxInput"+mediumCount+"\"   class=\"checked\"/> \
              <label for= \"checkboxInput"+mediumCount+"\"> </label> \
            </div> \
          <span class=\"inputspan\"><input type=\"text\" \"\" class=\"listitemtext\" ></span> \
          </li>"


        });
        mediumCount++;
    });
});

//function for appending items to the "small items" section

var smallCount = 3000

$(document).ready(function(){
    $("#smallappendbutton").click(function(){
        $("#smallitems").append(function(){
          return "<li class=\"listitem\"> \
            <div class=\"checkbox\"> \
              <input type=\"checkbox\" id=\"checkboxInput"+smallCount+"\"   class=\"checked\"/> \
              <label for= \"checkboxInput"+smallCount+"\"> </label> \
            </div> \
          <span class=\"inputspan\"><input type=\"text\" \"\" class=\"listitemtext\" ></span> \
          </li>"


        });
        smallCount++;
    });
});

$(document).on('click', '.checked', function(){
  $(this).parents().next('.inputspan').eq(0).toggleClass('strikethrough');
 });

</script>
