<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <ul>
      <div id='bigitems'>
        <li>
          <h2 class="listHeader">Big Items</h2>
            <div class="bigappendbuttondiv">
              <button id="bigappendbutton">Append text</button>
              <label for="bigappendbutton" class="checkboxlabel"></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput" name=""/>
            <label for= "checkboxInput"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext" >
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput2" name=""/>
            <label for= "checkboxInput2"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput3" name=""/>
            <label for= "checkboxInput3"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput4" name=""/>
            <label for= "checkboxInput4"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
      </ul>
    </div>
  </div>


  <div class="container">
    <ul>
      <div id='mediumitems'>
        <li>
          <h2 class="listHeader">Medium Items</h2>
            <div class="mediumappendbuttondiv">
              <button id="mediumappendbutton">Append text</button>
              <label for="mediumappendbutton" class="checkboxlabel"></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput5" name=""/>
            <label for= "checkboxInput5"> </label>
          </div>
          <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput6" name=""/>
            <label for= "checkboxInput6"> </label>
          </div>
          <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput7" name=""/>
            <label for= "checkboxInput7"> </label>
          </div>
          <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput8" name=""/>
            <label for= "checkboxInput8"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput9" name=""/>
            <label for= "checkboxInput9"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
    </div>
  </ul>
</div>


  <div class="container">
    <ul>
      <div id="smallitems">
        <li>
          <h2 class="listHeader">Small Items</h2>
            <div class="smallappendbuttondiv">
              <button id="smallappendbutton">Append text</button>
              <label for="smallappendbutton" class="checkboxlabel"></label>
            </div>
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput10" name=""/>
            <label for= "checkboxInput10"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput11" name=""/>
            <label for= "checkboxInput11"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput12" name=""/>
            <label for= "checkboxInput12"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput13" name=""/>
            <label for= "checkboxInput13"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput14" name=""/>
            <label for= "checkboxInput14"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput15" name=""/>
            <label for= "checkboxInput15"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
        <li class="listitem">
          <div class="checkbox">
            <input type="checkbox" value="1" id="checkboxInput16" name=""/>
            <label for= "checkboxInput16"> </label>
          </div>
        <input type="text" name="" value="" class="listitemtext">
        </li>
      </div>
    </ul>
  </div>




</body>
</html>

<script>
var bigCount=5;

//function for appending items to the "big items" section
$(document).ready(function(){
    $("#bigappendbutton").click(function(){
        $("#bigitems").append(function(){
            return "<li class=\"listitem\"> <div class=\"checkbox\"> <input type=\"checkbox\" value=\"1\" id=\"checkboxInput('"+bigCount+"')\"/> <label for=\"checkboxInput('"+bigCount+"')\"> </label> </div> <input type=\"text\" name=\"\" value=\"\" class=\"listitemtext\" </li>";


        });
        bigCount++;
    });
});

//function for appending items to the "medium items" section

var mediumCount = 11

$(document).ready(function(){
    $("#mediumappendbutton").click(function(){
        $("#mediumitems").append(function(){
            return "<li class=\"listitem\"> <div class=\"checkbox\"> <input type=\"checkbox\" value=\"1\" id=\"checkboxInput('"+mediumCount+"')\"/> <label for=\"checkboxInput('"+mediumCount+"')\"> </label> </div> <input type=\"text\" name=\"\" value=\"\" class=\"listitemtext\" </li>";


        });
        mediumCount++;
    });
});

//function for appending items to the "small items" section

var smallCount = 16

$(document).ready(function(){
    $("#smallappendbutton").click(function(){
        $("#smallitems").append(function(){
            return "<li class=\"listitem\"> <div class=\"checkbox\"> <input type=\"checkbox\" value=\"1\" id=\"checkboxInput('"+smallCount+"')\"/> <label for=\"checkboxInput('"+smallCount+"')\"> </label> </div> <input type=\"text\" name=\"\" value=\"\" class=\"listitemtext\" </li>";


        });
        smallCount++;
    });
});
</script>
