<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Big Items</h2>
    <div class="bigItems">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

    </div>
  <h2>Medium Items</h2>
    <div class="mediumItems">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

    </div>
  <h2>Small Items</h2>
    <div class="smallItems">
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">

        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
        <input type="text" name="" value="">
        
    </div>
  <h2>Other Items</h2>
    <div class="otherItems">

    </div>
</body>
</html>
